name: Delploy app to Google Play

on:
  workflow_dispatch:
    inputs:
      track:
        description: 'Select Google Play deploy track'
        required: true
        default: 'internal'
        type: choice
        options:
          - internal
#          - alpha(closed)
#          - beta(open)
          - production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Generate local.properties, google-services.json
        run: |
          echo "$LOCAL_PROPERTIES" > local.properties
          echo "$GOOGLE_SERVICES" > app/google-services.json.b64
          base64 -d -i app/google-services.json.b64 > app/google-services.json
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}

      - name: Setting env
        run: |
          echo "STORE_PASSWORD=${{ secrets.STORE_PASSWORD }}" >> $GITHUB_ENV
          echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> $GITHUB_ENV 
          echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'
          bundler-cache: true

      - name: Generate Credential File for Fastlane
        run: |
          echo "$PLAY_STORE_CREDENTIALS" > play-store-credentials.json.b64
          base64 -d -i play-store-credentials.json.b64 > play-store-credentials.json
        env:
          PLAY_STORE_CREDENTIALS: ${{ secrets.PLAY_STORE_CREDENTIALS }}

#      - name: Grant execute permission for gradlew
#        run: chmod +x gradlew
#      - name: Build with Gradle
#        run: ./gradlew :app:bundleRelease

  deploy-internal:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Submit a new Internal Build to Play Store
        run: bundle exec fastlane internal
    if: ${{ inputs.track == 'internal' }}

#  deploy-alpha:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Submit a new Closed Beta Build to Play Store
#        run: bundle exec fastlane closed_beta
#    if: ${{ inputs.track == 'alpha(closed)' }}
#
#  deploy-beta:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Submit a new Open Beta Build to Play Store
#      run: bundle exec fastlane open_beta
#    if: ${{ inputs.track == 'beta(open)' }}

  deploy-production:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Submit a new Production Build to Play Store
        run: bundle exec fastlane production
    if: ${{ inputs.track == 'production' }}

